@import url(
    '/css/root.css'
);

.footer-container {
  position:absolute;
  width: 1440px;
  height: 390px;
  bottom: 0;
  font-family: 'Poppins' serif;
}
.footer-main{
    display: flex;
    margin-left: 165px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 86px;
}
.footer-product{
    margin-left: 123px;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
}
.footer-list a{
    color: #81879D;
}
.footer-main-container{
    display: flex;
}
.footer-img img{
    width: 38px;
    height: 38px;
}
.footer-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom{
    display: flex;
    width: 1440px;
    height: 38px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 180px;
}
